footer#about.w-full.h-auto.bg-gray-50.p-6.space-y-2
  h4(class=" text-lg font-medium dark:text-black") About Us
  ul
    each enlace in enlaces_footer 
      +Enlaces--footer(enlace)
  div.space-x-2
    a(href="") 
      i(class="fa-brands fa-instagram text-2xl text-gray-300")
    a(href="https://github.com/David-Ostos/Platzitravel") 
      i(class="fa-brands fa-github text-2xl text-gray-300")