#home
  div(class="w-full h-3/4")
    .w-full.flex.flex-col.absolute.space-y-96.p-4.items-center
      input(class="outline-none p-3 rounded-full shadow-1 placeholder:text-center placeholder:text-black" placeholder="San Francisco" type="search", name="" id="")
      button.bg-white.text-xl.text-primary.font-semibold.p-4.w-48.shadow-1.rounded-full Explore More
    .w-full.h-full
      img(src="./img/sanFrancisco.jpg", alt="Foto del puente de san francisco")