include mixins.pug
doctype html
html
  include head.pug
  body.font-Montserrat
    main 
      block contenidos 
      section.w-full.h-auto
        include home.pug
        include recomendados.pug 
        include rentas_destacadas.pug
        include faqs.pug
    include footer.pug
    include tab_bar.pug