include mixins.pug
doctype html
html.dark 
  include head.pug
  body(class="font-Montserrat dark:bg-gray-900 dark:text-white")
    main 
      include nav.pug
      block contenidos 
      section.w-full.h-auto
        include home.pug
        include recomendados.pug 
        include rentas_destacadas.pug
        include faqs.pug
    include footer.pug
    include tab_bar.pug
    include script.pug 