#recomendados.p-6
  p(class="text-3xl font-semibold text-primary dark:text-white") Our Recomendations
  div(class=" w-auto h-72 items-center mt-6 overflow-x-auto overscroll-x-contain flex space-x-4 lg:h-96")
    each value in card_contenido
      +Card--recomendados(value[0],value[1],value[2])
  

