#rentas_destacadas(class=" px-6 w-full lg:px-8")
  p(class="text-3xl text-primary font-semibold pb-6 dark:text-white") Trending Stays 
  div(class="w-full h-full flex flex-col space-y-6 items-center justify-center lg:hidden")
    each value in card_rentas 
      +Card--rentas(value[0],value[1],value[2])
  div(class="hidden lg:grid lg:grid-cols-3 lg:grid-rows-3 lg:h-[150vh] lg:w-auto lg:gap-4")
    each value in card_rentas_grid
      +Card--rentas--grid(value[0],value[1],value[2],value[3],value[4],value[5],value[6],value[7])